---
export interface Props {
	i: number;
	image: Record<string, any>;
}

const { i, image } = Astro.props;
---

{
	(
		<div class="grid md:grid-cols-[1fr_3fr_1fr] md:grid-rows-1 grid-cols-[1fr_1fr] grid-rows-[3fr_1fr] h-full m-auto">
			<div-with-id
				data-message={i}
				class="row-start-2 md:row-start-1 h-fit m-auto md:ml-auto md:mr-10 my-auto flex cursor-pointer group focus:outline-none"
			>
				<button type="button" class="previmagebutton">
					<span class="text-gray-400 hover:text-gray-900 dark:hover:text-white group-focus:text-gray-900 dark:group-focus:text-white">
						<svg
							aria-hidden="true"
							class="w-6 h-6"
							fill="currentColor"
							viewBox="0 0 20 20"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								fill-rule="evenodd"
								d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z"
								clip-rule="evenodd"
							/>
						</svg>
						<span class="sr-only">Previous</span>
					</span>
				</button>
			</div-with-id>
			<div class="row-start-1 col-span-2 md:col-span-1 md:w-80vw md:h-full my-auto w-full grid">
				<img
					src={image.default.src}
					alt=""
					class="md:max-w-80vw max-h-80vh md:max-h-100vh md:py-10 h-auto max-h-full m-auto"
				/>
			</div>
			<div-with-id
				data-message={i}
				class="row-start-2 md:row-start-1 h-fit m-auto md:ml-auto md:ml-10 my-auto flex cursor-pointer group focus:outline-none"
			>
				<button type="button" class="nextimagebutton">
					<span class="h-fit text-gray-400 hover:text-gray-900 dark:hover:text-white group-focus:text-gray-900 dark:group-focus:text-white">
						<svg
							aria-hidden="true"
							class="w-6 h-6"
							fill="currentColor"
							viewBox="0 0 20 20"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								fill-rule="evenodd"
								d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
								clip-rule="evenodd"
							/>
						</svg>
						<span class="sr-only">Next</span>
					</span>
				</button>
			</div-with-id>
		</div>
	)
}
