---
export interface Props {
	index: number;
}
const { index } = Astro.props;
---

<div
	id={"modal_" + index}
	tabindex="-1"
	class="_modal fixed top-0 left-0 right-0 z-50 hidden w-full p-0 overflow-x-hidden overflow-y-auto md:inset-0 max-h-screen h-screen w-screen max-w-screen bg-gray-500"
>
	<div
		class="h-full min-w-full min-h-full relative w-full max-w-7xl max-h-full bg-gray-100 rounded"
	>
		<div-with-id data-message={index}>
			<button class="absolute z-10 right-5 top-5 closebutton"
				><i class="fa fa-times" aria-hidden="true"></i>
			</button>
		</div-with-id>
		<div
			class="h-full overflow-hidden relative bg-white rounded-lg shadow dark:bg-gray-700 rounded"
		>
			<slot />
		</div>
	</div>
</div>
