---
import Default from '~/layouts/Default.astro';
import Section from '~/components/Section.astro';
import { Languages } from '../../utils/types';
import main_logo from '../../assets/img/main_logo.svg';
const chi_siamo = await Astro.glob('../../../data/content/chi_siamo.*');
const missione = await Astro.glob('../../../data/content/missione.*');
const diventa_volontario = await Astro.glob('../../../data/content/diventa_volontario.*');
const proposte = await Astro.glob('../../../data/content/proposte.*');
const affitto = await Astro.glob('../../../data/content/affitto.*');
const sostienici = await Astro.glob('../../../data/content/sostienici.*');
// const calendar = await Astro.glob('../../../data/calendar/*.md');
export async function getStaticPaths() {
	return Languages.values().map((language: any) => {
		return {
			params: { lang: language },
			props: { language },
		};
	});
}
const { language } = Astro.props;
---

<Default title="Design">
	<header class="relative">
		<nav
			class="background_gradient pt-20px md:pt-0 md:h-100 h-[70%] flex flex-col w-full items-center justify-center text-white"
		>
			<img src={main_logo} alt="" width="100px" height="100px" class="mb-20px" />
			<h1 class="mb-50px text-5xl mx-auto text-center">
				{
					language == 'it' ? (
						<>
							Centro <b>Con-Dividi</b>
						</>
					) : (
						<>
							<b>Con-Dividi</b> Center
						</>
					)
				}
			</h1>
			<h2 class="text-white">testo a descrizione della assoc</h2>
		</nav>
	</header>

	<main class="relative flex flex-col py-50px">
		<Section title={chi_siamo.filter((e) => e.frontmatter.lang === language)[0].frontmatter.title}>
			{chi_siamo.map((item) => (item.frontmatter.lang === language ? <item.Content /> : ''))}
		</Section>
		<Section title={missione.filter((e) => e.frontmatter.lang === language)[0].frontmatter.title}>
			{missione.map((item) => (item.frontmatter.lang === language ? <item.Content /> : ''))}
		</Section>
		<Section title={diventa_volontario.filter((e) => e.frontmatter.lang === language)[0].frontmatter.title}>
			{diventa_volontario.map((item) => (item.frontmatter.lang === language ? <item.Content /> : ''))}
		</Section>
		<Section title={proposte.filter((e) => e.frontmatter.lang === language)[0].frontmatter.title}>
			{
				proposte.map((item) =>
					item.frontmatter.lang === language ? (
						<div class="flex">
							<div class="prose mt-4 m-auto">
								<h3>Giornate apertura al pubblico:</h3>

								<ul class="list-none m-0">
									{item.frontmatter.activities.map((activity: { day: string; hours: string; description: string }) => (
										<li class=" border-y border-fucsia bg-gray-50">
											<h4 class="font-bold">{activity.day}</h4>
											<p class="text-gray-600">
												{activity.hours} - {activity.description}
											</p>
										</li>
									))}
								</ul>

								<p class="mt-4 text-red-600 font-bold">Queste date subiranno per certo delle variazioni</p>
							</div>
						</div>
					) : (
						''
					)
				)
			}
		</Section>
		<Section title={affitto.filter((e) => e.frontmatter.lang === language)[0].frontmatter.title}>
			{affitto.map((item) => (item.frontmatter.lang === language ? <item.Content /> : ''))}
		</Section>
		<Section title={sostienici.filter((e) => e.frontmatter.lang === language)[0].frontmatter.title}>
			{sostienici.map((item) => (item.frontmatter.lang === language ? <item.Content /> : ''))}
		</Section>
		<Section title="Contattaci">
			<div>
				<div>
					<div class="bg-gray-50 p-6 rounded-lg border border-1 border-fucsia text-center">
						<div class="mb-4">
							<span class="font-semibold">{language === 'it' ? 'Telefono' : 'Phone'}:</span>
							<a href="tel:0762976640" class="text-fucsia hover:underline">0762976640</a>
						</div>

						<div class="mb-4">
							<span class="font-semibold">{language === 'it' ? 'Email' : 'Email'}:</span>
							<a href="mailto:condividi2020@gmail.com" class="text-fucsia hover:underline">condividi2020@gmail.com</a>
						</div>

						<div class="mb-4">
							<span class="font-semibold">{language === 'it' ? 'Indirizzo' : 'Address'}:</span>
							<p>via Carvina 1, 6807 Taverne, stabile 1 al primo piano</p>
						</div>

						<div>
							<span class="font-semibold">{language === 'it' ? 'Mappa' : 'Map'}:</span>
							<a
								href="https://goo.gl/maps/3HtXUMiUb3n2Vthr8"
								class="text-fucsia hover:underline"
								target="_blank"
								rel="noopener noreferrer">{language === 'it' ? 'Clicca qui per la mappa' : 'Click here for the map'}</a
							>
						</div>
					</div>
				</div>
				<section class="bg-white">
					<div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
						<form action="#" class="space-y-8">
							<div>
								<label for="email" class="block mb-2 text-sm font-medium text-gray-900">Your email</label>
								<input
									type="email"
									id="email"
									class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-fucsia block w-full p-2.5"
									placeholder="name@flowbite.com"
									required
								/>
							</div>
							<div>
								<label for="subject" class="block mb-2 text-sm font-medium text-gray-900">Subject</label>
								<input
									type="text"
									id="subject"
									class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:border-fucsia"
									placeholder="Let us know how we can help you"
									required
								/>
							</div>
							<div class="sm:col-span-2">
								<label for="message" class="block mb-2 text-sm font-medium text-gray-900">Your message</label>
								<textarea
									id="message"
									rows="6"
									class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:border-fucsia"
									placeholder="Leave a comment..."></textarea>
							</div>
							<button
								type="submit"
								class="py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-primary-700 sm:w-fit hover:bg-primary-800 focus:border-fucsia"
								>Send message</button
							>
						</form>
					</div>
				</section>
			</div>
		</Section>
	</main>

	<footer><a href="">Con-Dividi</a></footer>
</Default>
